<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <% unless @user.celebrities.empty? %>
        <table class="celebrities" summary="User celebrities">
          <h1>My Heros</h1>
          <%= render @celebrities %>
        </table>
        <%= will_paginate @celebrities %>
      <% end %>
    </td>
    <td class="sidebar round">
      <strong>Name</strong> <%= @user.name %><br />
      <strong>URL</strong>  <%= link_to user_path(@user), @user %>
      <strong>Number of Heros</strong> <%= @user.celebrities.count %>
    </td>
  </tr>
</table>
